.wrapper {
    width: 90%;
    margin: 0 auto;
    border-radius: 25px;
    table {
        width: 100%
    }
}

.table-repos {
    text-align: center;
}

.img-avt {
    width: 30px;
}

.item-form {
    display: inline-block;
    width: 50%;
    text-align: center;
    .select-back {
        width: 300px;
        margin: 0px auto;
    }
}

.spinner {
    width: 100%;
    text-align: center;
    div {
        width: 100px;
        margin: 0px auto;
    }
}