.header {
    width: 100%;
    text-align: center;
    padding: 30px 0;
    margin-bottom: 30px;
    .card-header {
        width: 100%;
        .card-title {
            font-size: 40px;
        }
    }

}